kubernetes/data/
adhoc_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dwdrun_infra/dwdrun_infra_config/logs/
dwdrun_infra/full_infra_config/logs/
dwdrun_infra/dwdrun_infra_config/dags/
dwdrun_infra/dwdrun_infra_config/questdb/
secrets/asana_personal_acess_token.md
secrets/bearer_token.md
secrets/deribit_ro.md
secrets/open_ai.md
secrets/anthropic.md

db/chroma.sqlite3
kubernetes/kind-cluster.yaml
kubernetes/values.yaml
kubernetes/variables.yaml
adhoc_data/FY2023/ANZ (2).ofx
adhoc_data/FY2023/ANZ.ofx
adhoc_data/FY2023/OFXData (3).ofx
adhoc_data/FY2023/OFXData (5).ofx
adhoc_data/FY2024/ANZ (1).ofx
adhoc_data/FY2024/OFXData (1).ofx
adhoc_data/FY2024/OFXData (2).ofx
adhoc_data/FY2024/OFXData (4).ofx
adhoc_data/FY2024/U8167557_20230703_20240628.ofx
adhoc_data/all_time/79_watson.ofx
adhoc_data/all_time/data.csv
adhoc_data/all_time/Download (1).csv
.DS_Store
dwdrun_infra/dwdrun_infra_config/data/vault.db
dwdrun_infra/dwdrun_infra_config/data/raft/raft.db
dwdrun_infra/dwdrun_infra_config/certs/cert.pem
dwdrun_infra/dwdrun_infra_config/certs/key.pem
